.CatagoryList{
  display: flex;
  flex-wrap: wrap;
}

.CatagoryList > button{
  margin: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 0.5rem;
  background-color: #5f91a0;
  color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-right: 50px;
}

.CatagoryList span{
  display: inline-block;
  position: absolute;
  top:4px;
  right:10px;
  font-size: small;
  border-radius: 30px;
  text-align: center;
  background-color: rgb(73, 72, 72);
  width:26px;
  height: 26px;
  line-height: 25px;
  margin-left: 10px;
}

button.selected{
  background-color: #254f50;
}